<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="fw-bolder mb-0">
          Empowering Businesses at the Intersection of Innovation
        </h2>
        <br />
        <p class="fw mb-0">Reach out to me if you would like to know more.</p>
        <br />
        <a
                class="btn btn-primary btn-lg px-4 me-sm-3"
                href="portfolio.html#contact"
                >Let's Talk Strategy</a
              >
      </div>

      <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
          <div class="col mb-5 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-truck"></i>
            </div>
            <h2 class="h5">Supply Chain</h2>
            <p class="mb-0">
              Optimizing global networks from source to delivery. Let's
              streamline your operations.
            </p>
          </div>
          <div class="col mb-5 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-cpu"></i>
            </div>
            <h2 class="h5">Generative AI</h2>
            <p class="mb-0">
              Harnessing AI to revolutionize business processes. Explore the
              future of automation with me.
            </p>
          </div>
          <div class="col mb-5 mb-md-0 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-lightbulb"></i>
            </div>
            <h2 class="h5">Strategic Consulting</h2>
            <p class="mb-0">
              Turning complex challenges into actionable strategies. Let's solve
              your business puzzles.
            </p>
          </div>
          <div class="col h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-graph-up"></i>
            </div>
            <h2 class="h5">Data Analytics & Optimization</h2>
            <p class="mb-0">
              Transforming data into decisions. Unlock the power of your
              information.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
