<section class="">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="text-center">
            <h2 class="fw-bolder">Essays, Opinions and Articles of Note</h2>
            <p class="lead fw-normal text-muted mb-5">
              Daily collection of views on interesting reads, geopolitics, science
              and technology, business and more.
            </p>
          </div>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img
              class="card-img-top"
              src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3Acdfd44d7-e918-438a-b631-b737d1744bf6?source=next-article&fit=scale-down&quality=highest&width=700&dpr=1"
              alt="US Ports and worker strikes"
              style="width: 400px; height: 250px; object-fit: fill; align-content: center"
            />
            <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">
                  Supply Chain Disruption - Threat to Small Businesses?
                </h5></a
              >
              <p class="card-text mb-0">
                The US port strike threatens supply chains and prices, with
                businesses alarmed as Biden declines to intervene weeks before the
                election.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="/assets/images/abhang.jpg"
                    alt="..."
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      align-content: center;
                    "
                  />
                  <div class="small">
                    <div class="fw-bold">Abhang Mehendale</div>
                    <div class="text-muted">
                      September 30, 2024 &middot; 6 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img
              class="card-img-top"
              src="https://hips.hearstapps.com/hmg-prod/images/art-edited3-66f6ba33ea5b3.png?crop=1.00xw:1.00xh;0,0"
              alt="..."
              style="width: 400px; height: 250px; object-fit: cover; align-content: center"
            />
            <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                Essay
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Who Pays for the Arts?</h5></a
              >
              <p class="card-text mb-0">
                In the U.S., the arts are subsidized by the very wealthy and the
                very poor. But amid ongoing turmoil in the nonprofit world, some
                people are trying to build a new creative economy.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="/assets/images/abhang.jpg"
                    alt="..."
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      align-content: center;
                    "
                  />
                  <div class="small">
                    <div class="fw-bold">Abhang Mehendale</div>
                    <div class="text-muted">
                      August 30, 2024 &middot; 10 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img
              class="card-img-top"
              src="https://www.livemint.com/lm-img/img/2024/10/01/600x338/g4df753d3d9372f01ce8dd5d966b5d39d1b0255a4998f7b1a7_1727748107097_1727748107302.jpg"
              alt="..."
              style="width: 400px; height: 250px; object-fit: cover; align-content: center;"
            />
            <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                Opinion
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">
                  What should Small Businesses do differently to stand out in the world of social media?
                </h5></a
              >
              <p class="card-text mb-0">
                A small attempt at guessing the social media game - how can small upcoming businesses make their space and trend on social media?
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="/assets/images/abhang.jpg"
                    alt="..."
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      align-content: center;
                    "
                    
                  />
                  <div class="small">
                    <div class="fw-bold">Abhang Mehendale</div>
                    <div class="text-muted">
                      October 2, 2024 &middot; 4 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Call to action-->
    </div>
  </section>