<div class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">
              "Generative AI has the potential to change the world in ways that we can’t even imagine. It has the power to create new ideas, products, and services that will make our lives easier, more productive, and more creative."
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img
                class="rounded-circle me-3"
                src="https://pbs.twimg.com/profile_images/1674815862879178752/nTGMV1Eo_400x400.jpg"
                alt="..."
                width="40"
                height="40"
              />
              <div class="fw-bold">
                Bill Gates
                <span class="fw-bold text-primary mx-1">/</span>
                Founder, Microsoft
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>